[submodule "WebContent/ScrollTrigger"]
	path = WebContent/ScrollTrigger
	url = https://github.com/terwanerik/ScrollTrigger.git
[submodule "WebContent/CytoScape"]
	path = WebContent/CytoScape
	url = https://github.com/cytoscape/cytoscape.js.git
[submodule "lib/SBSCL"]
	path = lib/SBSCL
	url = git@github.com:draeger-lab/SBSCL.git
[submodule "lib/libsbmlsim"]
	path = lib/libsbmlsim
	url = git@github.com:libsbmlsim/libsbmlsim.git
